.gallery {
        border: 5px solid #ffe6ca;
        box-sizing: border-box;
        float: left;
        height: 500px;
        width: 650px;
        background-color: #807f77;
        text-align: center;
}

.gallery-inner {
        display: block;
        text-align: center;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #807f77;

}

.gallery-inner li {
        width: 100%;
        height: 100%;
        list-style: none;
        position: absolute;
        left: 0;
        top: 0;
}

.gallery-inner input {
        display: none;
}

.gallery-inner label {
        background-color: #872277;
        opacity: 0;
        position: absolute;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
        height: 15px;
        width: 15px;
        left: 0;
        bottom: 10px;
        float: left;
        text-align: center;
        visibility: hidden;
        transition: .1s;
        z-index: 2;

}

.gallery-inner label:after {
        box-shadow: inset 0 0 0 3px #872277,
                    inset 0 3px 3px #872277,
                    0 1px 1px hsla(0, 0%, 100%, .25);
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
}

.gallery-inner:hover label {
        opacity: 1;
        visibility: visible;
}

.gallery-inner input:checked + label {
        background-color: #ddc1d8;
}

.gallery-inner:hover li:nth-child(1) label {
        left: 25px;
}.gallery-inner:hover li:nth-child(2) label {
        left: 50px;
}.gallery-inner:hover li:nth-child(3) label {
        left: 75px;
}.gallery-inner:hover li:nth-child(4) label {
        left: 100px;
}.gallery-inner:hover li:nth-child(5) label {
        left: 125px;
}.gallery-inner:hover li:nth-child(6) label {
        left: 150px;
}.gallery-inner:hover li:nth-child(7) label {
        left: 175px;
}.gallery-inner:hover li:nth-child(8) label {
        left: 200px;
}.gallery-inner:hover li:nth-child(9) label {
        left: 225px;
}.gallery-inner:hover li:nth-child(10) label {
        left: 250px;
}.gallery-inner:hover li:nth-child(11) label {
        left: 275px;
}.gallery-inner:hover li:nth-child(12) label {
        left: 300px;
}.gallery-inner:hover li:nth-child(13) label {
        left: 325px;
}.gallery-inner:hover li:nth-child(14) label {
        left: 350px;
}.gallery-inner:hover li:nth-child(15) label {
        left: 375px;
}.gallery-inner:hover li:nth-child(16) label {
        left: 400px;
}.gallery-inner:hover li:nth-child(17) label {
        left: 425px;
}.gallery-inner:hover li:nth-child(18) label {
        left: 450px;
}.gallery-inner:hover li:nth-child(19) label {
        left: 475px;
}.gallery-inner:hover li:nth-child(20) label {
        left: 500px;
}.gallery-inner:hover li:nth-child(21) label {
        left: 525px;
}.gallery-inner:hover li:nth-child(22) label {
        left: 550px;
}.gallery-inner:hover li:nth-child(23) label {
        left: 575px;
}.gallery-inner:hover li:nth-child(24) label {
        left: 600px;
}

 /* Images */

.gallery-inner img {
        max-width: 100%;
        max-height: 100%;
        opacity: 0;
        transition: .1s;
        visibility: hidden;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

}

.gallery-inner li input:checked ~ img {
        opacity: 1;
        visibility: visible;
        z-index: 0;
} 
