nav.main-nav {
        float: right;
        position: relative;
        z-index: 2;
}

ul.nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

li.nav-element {
        position: relative;
        float: left;
        height: 160px;
        cursor: pointer;
}

li.nav-element a {
        display: block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-top: 80px;
        text-align: center;
        text-decoration: none;
        color: #3e3e3e;
        font-size: 1em;
}
