
.tabbed-content-container {
        margin-top: 50px;
        margin-left: 120px;
        margin-right: 120px;
        float: left;
}

ul.tabbed-content {
        padding: 0;
        margin: 0;
        float: left;
        list-style: none;
        width: 100%;
}

ul.tabbed-content li {
        float: left;
        cursor: pointer;
        height: 80px;
        width: 200px;

        text-align: center;
        line-height: 80px;
        font-size: 3em;
        font-weight: 200;

        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        transition: background-color .2s ease-in;
}

ul.tabbed-content li.tab-1 {
        background-color: #ffe6ca;
}

ul.tabbed-content li.tab-2 {
        background-color: #ffd8ca;
}

ul.tabbed-content li.tab-1:hover {
        background-color: #ffc687;
}

ul.tabbed-content li.tab-2:hover {
        background-color: #ffae87;
}

ul.tabbed-content li.active{
}

.two-content-columns {
        clear: both;
        width: 100%;

}

.gallery {
        float: left;
        height: 500px;
        width: 650px;
        background-color: #807f77;
        text-align: center;
}

.description {
        float: left;
        height: 500px;
        width: 300px;
        padding: 25px 25px 25px 25px;
        background-color: #ffeeca;
        text-align: center;
        overflow-y: auto;
        box-sizing: border-box;
        border-bottom: 5px solid #d57ab3;
}

.description h3 {
        font-size: 2em;
        font-weight: 200;
}

.description p {
        font-size: 1em;
        text-align: left;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
}
